.tempBorder{
    border: solid 3px black;
}

.bg-black{
    background-color: black;
}

.bg-orenge{
    background-color: orange;
}

.bg-gray{
    background-color: gray;
}

.buttonA{
    background-color: orange;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    
}